﻿<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml">
[% DEFAULT
   color = ''
   link  = ''
%]
<head>
    <meta charset="UTF-8">
    <script type="text/javascript">
                function viewdiv(id){
                    var el=document.getElementById(id);
                        if(el.style.display=="block"){
                            el.style.display="none";
                        } else {
                        el.style.display="block";
                    }
                }
    </script>
    <style type="text/css">
        body {
            /*background-image: url(http://www.mrwallpaper.com/wallpapers/Sunset-over-Sea-1920x1080.jpg);*/
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 14px;
        }
        table {
            width: 100%; /* Ширина таблицы */
            border: 1px double grey; /* Рамка вокруг таблицы */
            border-collapse: collapse; /* Отображать только одинарные линии */
        }
        th {
            text-align: left;
            padding: 8px;
        }
        td {
            padding: 8px;
        }
    </style>

    <title>[% title %]</title>
</head>
<body bgcolor="#ffffff">
    <h1 style="text-align: center;">
        [% head %]
    </h1>

    <table id="tableCell" class="table table-bordered" border=1 width="100%">
        <thead>
            <tr>
                <th>
                </th>
                [% FOREACH plat IN platforms %]
                    <th> [% plat.key %]</th>
                [% END %]
            </tr>
            <tr>
                <th>
                </th>
                [% FOREACH version IN platforms  %]
                    <th> [% version.value %]</th>
                [% END %]
            </tr>
        </thead>
        [% FOREACH scenario IN list  %]
        <tr>
        <th style="cursor: pointer;" title="[% descriptions.item(scenario.key) %]">[% scenario.key %]</th>
                [% FOREACH platform IN scenario.value  %]
                    [% IF (platform.value.state == 'OK') %]
                        [%
                         color = 'green'
                         link  = platform.value.link
                         text  = 'PASS'
                         %]
                    [% ELSIF (platform.value.state == 'FAIL') %]
                        [%
                         color = 'red'
                         link  = platform.value.link
                         text  = 'FAIL'
                         %]
                    [% ELSE %]
                        [%
                         color = '#CCCCCC'
                         link  = ''
                         %]
                    [% END %]
                        [% IF link != '' %]
                        <td style="text-align: center; color: white; cursor: pointer; background-color: [% color %];" onclick="window.open('[% link %]')" title= [% scenario.key %]>
                        [% text %]
                        </td>
                        [% ELSE %]
                        <td style="background-color: [% color %];">
                        </td>
                        [% END %]
                [% END %]
        </tr>
        [% END %]
    </table>
    
    <h4> Известные плавающие проблемы БАТов: </h4>
    [% FOREACH trouble IN troubles %]
    <ul>
        <li style="color: darkviolet;"> [% trouble.key %] - [% trouble.value %]</li>
    </ul>
    [% END %]

    <h4> Текущие дефекты: </h4>
        [% FOREACH bug IN bugs %]
        <ul>
            <li><a href="http://tfs:8080/tfs/infotecstc1/PRG_VPN_Linux/_workitems#_a=edit&amp;id=[% bug.key %]">
                [% bug.key %] - [% bug.value.0 %]
            </a>
            <b style="color: darkviolet;"> [% bug.value.1 %] </b>
            </li>
        </ul>
        [% END %]

    <h4> ПО окружения: </h4>
    [% FOREACH env IN environment %]
        <ul><li> [% env.key %] - [% env.value %]</li></ul>
    [% END %]

    <h5>
        <a href="javascript:void(0);" onclick="viewdiv('mydiv');">
             Показать описание сценариев:
        </a>
    </h5>
    <div id="mydiv" style="display:none;">
        [% FOREACH desc IN descriptions %]
        <ul>
            <li style="color: black; font-weight: normal;">
                <span style="color:green;"> [% desc.key %] </span>
                <span> - [% desc.value %] </span>
            </li>
        </ul>
        [% END %]
    </div>    
    <center>
    &copy; Autostand
    </center>
</body>
</html>
